@import url('https://fonts.googleapis.com/css2?family=Chango&family=Schoolbell&family=Zalando+Sans+SemiExpanded:ital,wght@0,200..900;1,200..900&display=swap');

body {
    background-color: #fffee3;
    font-family: 'Zalando Sans SemiExpanded', sans-serif;
    margin: 0;
}

.background-container {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: rgb(254, 255, 240);
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

@keyframes floatAnimation {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0px); }
}

.glowing-book {
    position: absolute;
    width: 150px;
    height: auto;
    top: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.glowing-book img {
    width: 100%;
    height: 100%;
    animation: floatAnimation 2s ease-in-out infinite;
}

.glowing-book img:hover, .glowing-book img:focus {
    cursor: pointer;
}

.open-book {
    position: relative;
    z-index: 2;
    width: 80vw;
    height: 80vh;
    margin: 5vh auto;
    padding: 3rem;
    background-color: #0E2FA8;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease;
}

.open-book.active {
    opacity: 1;
    pointer-events: auto;
}

.open-book td {
    padding: 40px;
    font-size: clamp(2vh, 3.5vh, 4vh);
    color: black;
    line-height: 8vh;
}

.open-book td span {
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: all 0.3s ease;
}

.open-book td span:hover {
    color: #ffa719;
    text-decoration-color: #ffa719;
}

.open-book td span.active {
    color: #ffa719;
    text-decoration-color: #ffa719;
}

#fade-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 20;
    background-color: black;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}

#fade-overlay.active {
    opacity: 1;
    pointer-events: auto;
}