@import url('https://fonts.googleapis.com/css2?family=Chango&family=Schoolbell&family=Zalando+Sans+SemiExpanded:ital,wght@0,200..900;1,200..900&display=swap');

body {
    background-color: #fffee3;
    font-family: 'Zalando Sans SemiExpanded', sans-serif;
    margin: 0;
}

h1 {
    margin-top: 0;
    font-size: 40px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

hr {
    width: 125%;
    border: none;
    height: 5px;
    border-radius: 2px;
    background-color: #c6c6a4;
    margin: 40px 0;
}

/* -------------------- Menu -------------------- */
.menu {
    display: flex;
    gap: 20px;
    padding: 10px 150px;
    width: 82.5%;
    background-color: rgb(14, 47, 167);
    position: relative;
    z-index: 5;
}

.menu .left-side {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.menu .right-side {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

#menu-logo {
    width: 60px;
    height: 60px;
    transition: all 0.3s ease;
}

#menu-logo:hover, #menu-logo:focus-visible {
    width: 70px;
    height: 70px;
}

#menu-home-text {
    font-weight: bold;
    font-family: 'Chango', 'Zalando Sans SemiExpanded', sans-serif;
    margin-right: 20px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.2s ease;
}

.menu a:hover, .menu a:focus-visible {
    color: #ffa719;
}

.stories-dropdown-content {
  display: block;
  opacity: 0;
  position: absolute;
  background-color: #e6eaff;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 8px;
  visibility: hidden;
  transition: all 0.2s ease;
  margin: -2px;
}

.stories-dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: all 0.2s ease;
  border-radius: 8px;
  font-size: 16px;
}

.stories-dropdown-content a:hover, .stories-dropdown-content a:focus-visible {
  background-color: #dbe0f9;
  color: black;
  font-size: 18px;
}

.stories-dropdown:hover .stories-dropdown-content {
  opacity: 1;
  transform: translateY(2px);
  visibility: visible;
}

/* -------------------- Content -------------------- */
/* ---------- Index Page ---------- */
.top-container {
    position: relative;
    display: inline-block;
    width: 100.05%;
    height: 400px;
    overflow: hidden;
    z-index: 0;
}

#top-image {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

#quote-text {
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    text-align: left;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

#quote-text span {
    font-size: 60px;
    display: block;
    margin-bottom: 10px;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 200px;
}

.about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#about-logo {
    height: 12em;
    width: 100%;
    object-fit: cover;
}

.team {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.team b {
    font-size: 18px;
}

.story-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.story-display table {
    width: 100%;
    border: 1px solid #c6c6a4;
    border-radius: 20px;
    padding: 20px;
    background-color: #e6eaff;
}

.story-display td {
    padding: 10px;
}

.story-display td b {
    font-size: 32px;
}

.story-display img {
    width: 100%;
    height: 14em;
    border-radius: 20px;
    object-fit: cover;
}

.story-display button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 20px;
    font: inherit;
    font-weight: bold;
    background-color: rgb(14, 47, 167);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.story-display button a {
    color: white;
    text-decoration: none;
}

.story-display button:hover, .story-display button:focus-visible {
    background-color: #ffa719;
}

.story1 {
    margin-top: 40px;
    border-radius: 20px;
}

.reviews td {
    padding: 0 30px;
}

/* ---------- Contact Page ---------- */
#contact-info {
    width: 100%;
    border: 1px solid #c6c6a4;
    border-collapse: collapse;
}

#contact-info th {
    padding: 10px;
    font-size: 28px;
    color: white;
}

#contact-info td {
    padding: 20px;
    text-align: center;
    background-color: #f2f2f2;
    width: 50%;
}

#contact-info td img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

#contact-info td span {
    display: block;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 5px;
}

#inquiry-form {
    width: 100%;
    border: 1px solid #c6c6a4;
    border-collapse: collapse;
}

#inquiry-form th {
    padding: 10px;
    font-size: 28px;
    color: white;
}

#inquiry-form td {
    padding: 10px 20px;
    text-align: center;
    background-color: #f2f2f2;
    width: 50%;
}

#inquiry-form input,
#inquiry-form textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #c6c6a4;
    border-radius: 5px;
    background-color: #beccff;
    box-sizing: border-box;
    resize: vertical;
    font-family: inherit;
    color: black;
}

#inquiry-form textarea {
    min-height: 250px;
}

.input-error {
    text-align: left;
    margin: 0;
    color: red;
    font-size: 14px;
}

#submit-button {
    display: block;
    margin: 10px 0 0 auto;
    padding: 10px 20px;
    font-size: 20px;
    font: inherit;
    font-weight: bold;
    background-color: rgb(14, 47, 167);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    transition: background-color 0.3s ease;
}

#submit-button:hover, #submit-button:focus-visible {
    background-color: #ffa719;
}

#submit-output {
    display: block;
    margin: 10px 0 0 auto;
}

/* -------------------- Footer -------------------- */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100.05%;
    padding: 20px 0;
    background-color: rgb(14, 47, 167);
    color: white;
    font-size: 14px;
}

.footer-first-row {
    display: flex;
    align-items: center;
    width: 100%;
}

.footer-logo-container {
    display: inline-block;
    width: 150px;
    height: 150px;
    padding: 0 0 0 150px;
}

#footer-logo {
    height: 100%;
    width: auto;
}

#footer-logo-text {
    font-family: 'Chango', cursive;
    font-size: 24px;
    margin-left: 25px;
}

.footer-table {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.footer table {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 0 150px 0 0;
}

.footer td {
    padding: 10px 30px;
    text-align: left;
}

.footer td a {
    color: white;
    text-decoration: none;
}

.footer hr {
    width: 85%;
    border: none;
    height: 2px;
    background-color: white;
    margin: 20px 150px;
    border-radius: 2px;
}

#back-to-landing {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    color: white;
    opacity: 0.6;
}

#back-to-landing a {
    color: white;
    text-decoration: none;
}

#back-to-landing a:hover, #back-to-landing:focus-visible {
    opacity: 1;
    text-decoration: underline;
}